@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inspiration&family=Montserrat:wght@300;400;500;600;700&family=Pacifico&display=swap" );

@import-normalize;
/* If you see an "Unknown at rule @import-normalize css(unknownAtRules)" warning in VSCode, change the css.lint.unknownAtRules setting to ignore. */

body {
    background-color: #1c1c1d;
    font-family: "Courier Prime", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier prime", monospace;
}

* {
    box-sizing: border-box;
}

